<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    <img src="https://img.freepik.com/free-photo/front-view-tasty-meat-burger-with-cheese-salad-dark-background_140725-89597.jpg?w=1060&t=st=1667999273~exp=1667999873~hmac=0071af47905321251d93f57e5393e120b8df938914ccdbeaf786a67a991cc8d4" alt="cheese burger picture">
  </body>
</html>
