<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    <form id="form">
      <label for="options">Choose an option :</label>
      <select name="options" id="options">
        <option value="pizza">Pizza</option>
        <option value="cheeseburger">Cheese burger</option>
        <option value="frenchfries">French fries</option>
        <option value="tacos">Tacos</option>
      </select>
      <input type="submit" value="submit" />
    </form>
    <script>
      const form = document.getElementById("form");
      const options = document.getElementById("options");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        window.location.href = `${window.location.origin}/${options.value}`
      });
    </script>
  </body>
</html>
