<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    <img src="https://img.freepik.com/free-photo/crispy-mixed-pizza-with-olives-sausage_140725-3095.jpg?w=826&t=st=1667999118~exp=1667999718~hmac=7e4b232057612cf6fd30f8c3909a1d02074105ef5139f0632128b77631ce8222" alt="pizza picture">
  </body>
</html>
