<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    <img src="https://img.freepik.com/free-photo/crispy-french-fries-with-ketchup-mayonnaise_1150-26588.jpg?w=1060&t=st=1667999355~exp=1667999955~hmac=7defff44e11c88ef5eebd846ed0c086a8d3df55c10238cb2d0d88fd644dd3cc0" alt="french fries picture">
  </body>
</html>
