<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    <img src="https://img.freepik.com/free-photo/side-view-shawarma-pita-roll-with-chicken-fried-potatoes_176474-3216.jpg?w=740&t=st=1667999900~exp=1668000500~hmac=4909cad1599ef384562c0cf1e5927e6048ffce59ace0087e4b56477558075258" alt="tacos picture">
  </body>
</html>
