<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">

    <title>Biscuits Factory</title>
</head>

<style>
 
    body {
    background-color: rgb(41, 87, 172);
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40%;
        height: 60%;
        width: 70%;
    }
</style>

<body>
    <h1 style="text-align: center; font-family: Cookie; font-size: 100px;">Biscuits Factory</h1>
    <img src="{{url_for( 'static' , filename='img.gif')}}" alt="Biscuits Factory" class="center">
</body>
</html>