<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: black;
        }

        .container{
            flex: 1;
            padding: 120px;
            display: flex;
            justify-content: center;
        }
    </style>
    <div class="container">
      <img
        src="https://media2.giphy.com/media/Fo5y4K3GD3RYijvsCS/giphy.gif"
        alt=""
      />
    </div>
  </body>
</html>
